.footer__column-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
